Skip to main content
Google ClassroomClassroom
CMSC 100 C-3LC-3L
Home
Calendar
Gemini
Enrolled
To-do
C
CMSC 131 2S2526
B
C
CMSC 131 2nd Sem 2025-2026
B-5L
S
STAT 101
CD [Second Semester AY 2025-2026]
C
CMSC 127 Lab | 2S 25-26
ST1-2L
C
CMSC 127 ST1 LECTURE (TTH 8-9 MMMLH)
ST1
C
CMSC 100 C-3L
C-3L
C
CMSC 23 UV-4L 2S AY2025-2026
UV-4L
C
CMSC 100 Lecture (2s 25-26)
C
C
CMSC 23 Lecture UV 2S AY2025-2026
Lecture UV
N
NSTP-ROTC 2 2025-26
RO2 A B C D E
S
SAS 1 Y1
Self and Society 1
Archived classes
Settings
Exer 02: HTML and CSS
Exer 02: HTML and CSS
Arvin Kent Jacob
•
1:01 PM
15 points
For this Exer ONLY, there will be no deductions for late submission till 11:59 pm. Student's who submits on time (before 1:00 pm) will get bonus PokeDollars.


https://classroom.github.com/a/D4W4mwvw
Exercise 02 - HTML and CSS.docx.pdf
PDF
flex.css
CSS
flex.html
HTML
Class comments
Your work
Assigned
Private comments

.flex-container {
    display: flex;
    border-style: solid;
    border-width: 5px;
    border-color: red;
    flex-direction: row;
}

.nav_bar {
    display: flex;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(255, 0, 200);
    flex-direction: row;
}

.flex-container2 {
    display: flex;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(0, 255, 51);
    flex-direction: row;
}
.flex-item {
    border-style: solid;
    border-width: 2px;
    border-color: red;
}

flex.css
Displaying flex.css.